<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="testing" value="1" />
    <add key="PERIODOSAIRMAPA" value="10" />
    <add key="PERIODOHEROISPARATRABALHAR" value="1" />
    <add key="PERIODONEWMAP" value="3" />
    <add key="PERIODOERROR" value="12" />
    <add key="IMAGEPATH" value="D:\ImagemROBO"/>
    <add key="DELAY" value="1000"/>
  </appSettings>
</configuration>